.position-center {
    position: center;
}
.m-auto {
    margin: auto;
}
.header-colour {
    background-color: #70a7ff;
    text-align: center;
}
.text-center {
    text-align: center;
}
.grey-background {
    background-color: #70a7ff;
}
.half-width {
    width: 50%;
}
.card-dark {
    background-color: #70a7ff;
    width: 600px;
    height: 900px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.center-champion-search {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 300px;
    height: 300px;

}
.center-textfield {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.fun-font {
    font-family: Impact, Charcoal, sans-serif;
}
